@use '../base/colors' as color

.banking
  padding-bottom: 70px
  &__image
    background-image: url('../../images/bg-intro-mobile.svg')
    background-position: left
    background-repeat: no-repeat
    img
      width: 100%
  &__content
    display: flex
    flex-direction: column
    align-items: center
    gap: 30px
    margin-top: 30px
    > *
      width: 300px
    .content__title
      text-align: center
      font-weight: 300
    .content__text
      color: color.$grayish-blue
      font-size: 1.4rem
      line-height: 2.2rem
      font-weight: 300
      text-align: center