@use './colors' as color

*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  font-size: 62.5%

body
  background-color: color.$white
  color: color.$dark-blue
  font-family: 'Public Sans', sans-serif
  font-size: 1.8rem
  overflow-x: hidden

li
  list-style: none

a
  text-decoration: none
  &:visited
    color: color.$dark-blue

.hidden
  display: none

.no-show
  visibility: hidden
  opacity: 0