@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: white;
  color: #2d314d;
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: #2d314d;
}

.hidden {
  display: none;
}

.no-show {
  visibility: hidden;
  opacity: 0;
}

.header {
  background-color: white;
  margin: 0 auto;
}
.header__mobile-view {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 25px;
}
.header__mobile-view .mobile__hamburger {
  position: relative;
  top: -5px;
}
.header__menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.header__menu .menu {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  z-index: 5;
  transition: visibility 0s, opacity 0.3s linear;
}
.header__menu .menu__list {
  padding-top: 20px;
}
.header__menu .menu__list:last-child {
  padding-bottom: 20px;
}

.header__btn {
  visibility: hidden;
  opacity: 0;
}

.opacity-background {
  position: absolute;
  top: 70px;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  z-index: 1;
}

@media screen and (min-width: 900px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 80%;
    margin: 0 auto;
  }
  .header__mobile-view .mobile__hamburger {
    display: none;
  }
  .header__menu {
    margin-top: -10px;
  }
  .header__menu .menu {
    height: 70px;
    width: 400px;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0;
  }
  .header__menu .menu__list {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
  }
  .header__menu .menu__list:hover {
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #31d35c 27%, #2bb7da 84%) 1;
  }
  .header__menu .menu__list:last-child {
    padding-bottom: 0;
  }

  .menu__link {
    font-weight: 300;
    font-size: 1.4rem;
  }
  .menu__link:visited {
    color: #9698a6;
  }

  .header__btn {
    visibility: visible;
    opacity: 1;
  }
}
.banking {
  padding-bottom: 70px;
  background-color: #fafafa;
  z-index: 0;
}
.banking__image {
  background-image: url("../../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.banking__image img {
  width: 100%;
}
.banking__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.banking__content > * {
  width: 300px;
}
.banking__content .content__title {
  text-align: center;
  font-weight: 300;
}
.banking__content .content__text {
  color: #9698a6;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 300;
  text-align: center;
}

.desktop {
  display: none;
}

@media screen and (min-width: 1440px) {
  .banking {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 650px;
    grid-template-areas: "banking__content banking__image";
    padding-bottom: 0;
  }
  .banking__image {
    background-image: url("../../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    background-position-x: 10%;
    background-position-y: 73%;
    display: grid;
    grid-area: banking__image;
  }
  .banking__image img {
    width: 80%;
    justify-self: flex-end;
  }
  .banking__content {
    margin-top: 0;
    grid-area: banking__content;
    width: 450px;
    height: 350px;
    justify-content: center;
    justify-self: center;
    align-self: center;
  }
  .banking__content > * {
    width: 350px;
    align-self: flex-end;
  }
  .banking__content .content__title {
    text-align: left;
    font-size: 4.5rem;
  }
  .banking__content .content__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
  }
  .banking__content .content__btn .btn--left {
    width: 150px;
    display: block;
    color: white;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
.container {
  position: absolute;
  height: 100vh;
  top: 70px;
  width: 100%;
  z-index: 0;
}

.btn {
  background: #31d35c;
  background: linear-gradient(157deg, #31d35c 27%, #2bb7da 84%);
  font-size: 1.4rem;
  width: 200px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  border-radius: 30px;
}
.btn:hover {
  opacity: 0.7;
}
.btn a {
  display: block;
  color: white;
}

/*# sourceMappingURL=main.css.map */
